<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>co.ricardoruiz.gastos-correos</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/ricardoruiz/ricardoruiz.co/tools/gastos/run_correos.sh</string>
  </array>

  <!-- Cada 2 horas. Si el Mac estaba dormido, launchd corre la perdida al
       despertar, así que no se pierde una ventana entera. -->
  <key>StartInterval</key>
  <integer>7200</integer>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/Users/ricardoruiz/ricardoruiz.co/Bases de datos/leyes-senado/diario/gastos-correos.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ricardoruiz/ricardoruiz.co/Bases de datos/leyes-senado/diario/gastos-correos.err.log</string>
</dict>
</plist>
