<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>co.ricardoruiz.pronosticos</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/ricardoruiz/ricardoruiz.co/tools/pronosticos/run_pronosticos.sh</string>
  </array>

  <!-- cada 6 horas -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>10</integer></dict>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/ricardoruiz/ricardoruiz.co/Bases de datos/pronosticos/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ricardoruiz/ricardoruiz.co/Bases de datos/pronosticos/launchd.err.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
